.container-contactForm{
    width: 90%;
    height: 650px;
    margin: 80px auto 0; 
    display: flex;
    border: 1px solid black;
    border-radius:  20px;
}

.img-contactform{
    background-image: url(https://img.freepik.com/free-photo/delicious-biscuit-cone-scoops-ice-scream_23-2148430586.jpg?uid=R15066473&ga=GA1.1.1920053892.1746505631&semt=ais_hybrid&w=740);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 50%;
    width: 55%;
    height: 650px;
    border-radius:  20px 0 0 20px;
}

.contact-form{
    width: 75%;
    height: 100%;
    border-radius:  0 20px 20px 0;
    background: radial-gradient(#FBBFCA, #fbbfca00);
    display: flex;
    flex-direction: column;
}

.contact-form h3{
    width: 100%;
    color: #2B061E;
    font-style: italic;
    font-weight: 700;
    margin: 40px auto;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 20px 0 5px 0;
}

form input{
    width: 55%;
    background-color: rgba(255, 222, 173, 0);
    color: #2B061E;
    border: 2.5px solid #2B061E;
    height: 35px;
    border-radius: 25px;
    padding:  0 0 0 20px;
    box-shadow: 5px 5px 5px #0f020b;
}

input::placeholder{
    color: #2B061E;
    text-align: center;
}

label{
    color: #2B061E;
    font-size: large;
    font-weight: 400;
}

textarea{
    width: 60%;
    height: 100px;
    background-color: rgba(255, 222, 173, 0);
    color: #2B061E;
    border: 2.5px solid #2B061E;
    border-radius: 25px;
    padding:  10px 0 0 20px;
    box-shadow: 5px 5px 5px #0f020b;
}

/* From Uiverse.io by RaspberryBee */ 
.button {
  height: 2em;
  width: 5em;
  border-radius: 1em;
  border: 0.1rem solid transparent;
  background-color: #2B061E;
  transition: 0.3s;
  font-size: 1em;
  color: #FBBFCA;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(3deg);
}

.button:active {
  animation: borderMove 0.5s forwards;
  transform: scale(0.9) rotate(-3deg);
  background-color: #FBBFCA;
  color: #2B061E;
  border: 0.1rem solid #2B061E;
}

@keyframes borderMove {
  0% {
    border-width: 0.1rem;
    transform: scale(1) rotate(0deg);
  }

  50% {
    border-width: 0.4rem;
    transform: scale(0.9) rotate(-3deg);
  }

  100% {
    border-width: 0.15rem;
    transform: scale(1) rotate(0deg);
  }
}

.icons{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 10px auto;
    padding: 10px;

}

.svg{
    z-index: 1000;
    cursor: pointer;
}

.info{
    margin: auto;
    width: 34%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

.modal{
    background-color: #FBBFCA;
    color: #2B061E;
    border: 2.5px solid #2B061E;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #0f020b;
    visibility: hidden;
}

iframe{
    border-radius: 25px;
    width: 250px;
}

.modalClass{
    visibility: visible;
}

#GeoDetails{
    transform: translate(-2%, -35%);
    z-index: 1;
    width: fit-content;
}

#clockDetails{
    transform: translate(0%, -7%);
    z-index: 1;
    width: fit-content;
}

#phoneDetails{
    transform: translate(-2%, -62%);
    z-index: 1;
    width: fit-content;
}

.schedules, .phone{
    width: 100%;
    padding: 10px 0;
    border-radius: 25px;
    text-align: center;
}

@media(max-width: 600px){
    body{
        overflow:hidden;
    }
    .container-contactForm{
        flex-direction: column;
        height: 750px;
    }
    .img-contactform{
        height: 20%;
        width: 100%;
    } 
    .contact-form{
        width: 100%;
        height: 80%;
        border-radius:  0 20px 20px 0;
        background: radial-gradient(#FBBFCA, #fbbfca00);
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .icons{
        margin: 2px 0;
    }
    #GeoDetails{
    transform: translate(77%, -55%);
    z-index: 1;
    
    }
    #clockDetails{
        transform: translate(-1%, -40%);
        z-index: 1;
    }

    #phoneDetails{
        transform: translate(-85%, -110%);
        z-index: 1;
    }
    #geo{
        transform: translate(521%, -425%);
    }
    #clock{
        transform: translate(272%, -295%);
    }
    #phone{
        transform: translate(25%, -165%);
    }
    .schedules,{
    width: 300px;
    border-radius: 25px;
    text-align: center;
    }
    .phone{
    width: 230px;
    border-radius: 25px;
    text-align: center;
    }
}