.Productos{
    margin: 80px 0 0 0;
}

.servicios{
    display: none;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: 30px 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 5 10px;
    gap: 15px;
}
/* Card code */
    /* From Uiverse.io by IWhat1 */ 
.container {
  width: 240px;
  height: 294px;
  perspective: 900px;
}

.card {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  border-radius: 2rem;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.front, .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  box-shadow: 0 0 10px 2px rgba(50, 50, 50, 2.5);
  backface-visibility: hidden;
  color: aliceblue;
  background: linear-gradient(-135deg, 
#875053, #2B061E);
}

.front, .back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.back {
  transform: rotateY(180deg) rotateZ(180deg);
}

.back-heading, .front-heading {
  font-size: 28px;
font-family: "Fredoka", sans-serif;
  font-weight: bold;
  text-align: center;
}

.back-heading2{
    text-align: center;
    font-family: "Fredoka", sans-serif;
}

/* Button*/ 
button {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid #68164b;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #460c32;
}

button:hover {
  transform: translate(5px, -5px);
}