@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&display=swap');


*{
    margin:0; 
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
}

header{
    background-color: #FBBFCA;
    color: #2B061E;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 200;
    box-shadow: 8px 8px 15px #2B061E;
    border-radius: 0 0 15px 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-size: 2.2vw;
    font-weight: bold;
}

.logo-img{
    width: 90px;
    height: 90px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #2B061E;
    font-size: 1vw;
}

nav ul li a:hover{
    font-weight: bold;
    border-radius: 80%;
}

.hamburguesa{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburguesa span{
    background: black;
    height: 4px;
    width: 25px;
    margin: 4px
}

main{
    flex: 1;
    animation: entrada 1.5s;
    max-width: auto;
    margin-top: 80px;
    padding-top: 20px;
    background: linear-gradient(#FBBFCA, #FFEED6);
}

section {
    background: linear-gradient(180deg,#fbbfca00, #ffeed6);
    padding: 20px;
    border-radius: 10px;
    margin: 15px 10px 15px 10px;
    box-shadow: 5px 5px 15px #2B061E;
    text-align: center;
}

.section-1{
    margin-top: 65px;
}

footer{
    background-color: #FFEED6;
    color: #2B061E;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    border-radius: 15px 15px 0 0;
    box-shadow: 8px 8px 15px #2B061E;
    z-index: 1000;
}

@keyframes entrada {
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}    
}

@media(max-width: 600px){
    nav ul{
        display: none;
        flex-direction: column;
        background-color: #FBBFCA ;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 150px;
        padding: 20px#
        border-radius: 8px;
        font-size: 50px;
    }
    .hamburguesa{
        display: flex;
    }
    nav ul.verMenu{
        display:flex;
    }

    nav .logo{
        font-size: 6vw;
    }
}

@media(max-width: 600px){
  header nav ul li a{
    font-size: medium;
  }
}

@media (min-width:601px) {
  header nav ul li a{
    font-size: large;
  }
}